body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    width: 600px;
    /*outline:1px solid black ; */
    box-shadow: 6px 6px red, -1em 0 .4em blueviolet;

}

.column {
 /*  outline: 1px solid green; */
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.row{
    /*outline: 1px solid green;*/
    min-height: 10px;
    min-width: 10px;
    flex-grow: 1;

}

.row:hover{
 /*  background-color: black; */
}
